{{- define "title" }}
    {{- .Params.Title | default (T .Data.Term) | default .Data.Term }} - {{ T .Data.Plural | default .Data.Plural }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Data.Term | dict "Some" | T "allSome" -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            
            {{- range $pages.Pages -}}
                {{- .Render "summary" -}}
            {{- end -}}
            
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
